@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.animated-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #3dbf44;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  padding: 0px 1px;
  z-index: 1;
  transition: text-decoration-color 0.3s ease;
}

.animated-underline::before {
  content: "";
  position: absolute;
  bottom: 3.75px;
  left: 1px;
  right: 1px;
  height: 0;
  background-color: #3dbf44;
  z-index: -1;
  transition: height 0.4s ease;
}

.animated-underline:hover::before {
  height: 70%;
}
